# Dependencies
/node_modules/
/.pnp/
.pnp.js

# Production build
/.next/
/out/

# Environment variables
.env
.env*.local

# Debug & logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor & OS
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.DS_Store
Thumbs.db

# Temporary
*.tsbuildinfo
next-env.d.ts
